<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div id="messages"></div>
        <script type="text/javascript" charset="utf-8">
            var socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.on('message', function(data) {
                $('#messages').append('<p>' + data.data + '</p>');
            });
        </script>
    </body>
</html>